body {
  margin: 0;
  overflow: hidden;
}

.header {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 6px;
    z-index: 1;
    width: 220px;
}

.title {
  font-family: 'EB Garamond', sans-serif;
  position: absolute;
  font-size: 28px;
  margin-top: 68px;
  color: #363636;
  font-weight: 200;
}

.title span {
    font-size: 17px;
}

button img {
    height: 15px;
    width: 15px;
}

p {
  padding-top: 17px;
  position: absolute;
  z-index: 4;
  font-family: 'EB Garamond', sans-serif;
  font-size: 12px;
  margin: 0;
}

form {
  z-index: 5;
  font-family: 'EB Garamond', sans-serif;
  font-size: 14px;
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  background-color: #F5F7F2;
  border-bottom: 1px solid #a7d7f9;
  border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0),
      #a7d7f9
    ) 1 100%;
}

#article-prev {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  border-right: 1px solid #a7d7f9;
  padding: 13px;
  font-family: 'EB Garamond', sans-serif;
  width: 220px;
  height: 100vh;
  background-color: rgba(230,230,230,0.5);
  overflow-y: hidden;
}

.logo {
    width: 110px;
}

#search-button {
  position: relative;
  right: 26px;
  z-index: 6;
  border: none;
  background: none;
  cursor: pointer;
  width: 0;
}


#article-prev-title {
  font-weight: 300;
  color: #3366bb;
  font-size: 20px;
  width: 100vw;
}

#article-prev-text {
  line-height: 22px;
  font-size: 15px;
  height: calc(100vh - 260px);
  overflow: scroll;
  width: 220px;
}

#network {
  background-color: #F5F7F2;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
}

#article-prev-text::-webkit-scrollbar {
    display: none;
}

input {
  z-index: 5;
  width: 300px;
  height: 29px;
  border: 1px solid #a2a9b1;
  background-color: rgba(255,255,255,0.5);
  font-size: 17px;
  font-weight: 300;
  font-family: 'EB Garamond', sans-serif;
  box-sizing: border-box;
  padding: 0.4em 1.84615385em 0.4em 0.4em;
}

input:focus {
  outline: none;
  background-color: rgba(230, 230, 230, 0.99);
}


#reset {
  padding: 0 14px;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 300;
  color: #363636;
  font-family: 'EB Garamond', sans-serif;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), #a7d7f9 ) 1 100%;
  cursor: pointer;
}

#reset span {
  position: relative;
  font-size: 17px;
}

#reset:hover {
  background-color: rgba(230, 230, 230, 0.99);
}

#reset:hover i {
  transform: rotate(-360deg);
  transition: ease-in-out .5s;
  color: #0073b1;
}

#reset:focus {
  outline: none;
}

.social-divider {
  height: 80%;
  width: 1px;
  background-image: linear-gradient(transparent, grey ,transparent);
}

.horizontal-div {
  width: 80%;
  height: 1px;
  background-image: linear-gradient(0.25turn, transparent, grey ,transparent);
  margin: 5px 0;
}

.fab {
  padding-right: 4px;
}

a:hover {
  background-color: rgba(230, 230, 230, 0.99);
}

a:hover .fa-linkedin {
  color: #0073b1;
}

a:hover .fa-github {
  color: #f0704a;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  font-size: 17px;
  font-weight: 300;
  color: #363636;
  padding: 0 14px;
  text-decoration: none;
  font-family: 'EB Garamond', sans-serif;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 246px);
  right: 0;
  z-index: 1;
  height: 45px;
  background-color: rgba(245, 247, 242, 0.9);
  box-shadow: 4px 2px 8px 12px rgba(245,247,242,0.9);
  border-bottom: 1px solid #a7d7f9;
  background-image: linear-gradient(to bottom, rgba(230,230,230,0.5), rgba(204,204,255,.3));
}

.nav-left {
  display: flex;
  align-items: center;
  z-index: 5;
  background-color: #F5F7F2;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), #a7d7f9 ) 1 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.tagline {
  font-family: 'EB Garamond', sans-serif;
  position: absolute;
  font-size: 12px;
  margin-top: 89px;
  width: 220px;
  font-weight: 400;
  color: #363636;
  text-align: center;
  letter-spacing: 0.12em;
}

#retry {
  font-size: 11px;
  color: maroon;
  top: 18px;
  width: 300px;
  text-align: center;
}

#article-link {
  width: 220px;
  height: auto;
  padding: 5px;
  text-decoration: none;
  font-weight: 300;
  background-color: rgba(237,238,236,0.7);
  padding-bottom: 2px;
  margin-top: 186px;
  margin-left: -13px;
}

#article-link:hover {
  text-decoration: underline;
}

.demo {
  padding: 0 14px;
  outline: none;
  border: none;
  background: transparent;
  color: #363636;
  cursor: pointer;
  font-family: 'EB Garamond', sans-serif;
  font-size: 15px;
  z-index: 7;
  font-weight: 300;
  text-decoration-color: #757575;
  height: 100%;
}

.demo span {
  font-size: 17px;
}

.demo:hover {
  color: #363636;
  cursor: pointer;
  background-color: rgba(230, 230, 230, 0.99);
}

.demo:hover i {
  color: lightseagreen;
}

.counter-container {
  height: 100%;
  display: flex;
  align-items: center;
  width: auto;
  padding-right: 14px;
  cursor: default;
}

.counter-container:hover i {
  color: #a2a9b1;
  transform: translateY(2px);
  transition: .2s;
}

#counter {
  font-size: 17px;
  width: 20px;
  text-align: center;
}

.fa-mouse-pointer {
  padding-right: 4px;
  font-size: 15px;
}


#loading {
  height: 7px;
  background-color: #a3bfb1;
  position: fixed;
  top: 0px;
  left: 0;
  width: 0vw;
  z-index: 10;
  opacity: .7;
  transition: 100ms linear;
}

@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-icon-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-pop .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-pop:hover .hvr-icon, .hvr-icon-pop:focus .hvr-icon, .hvr-icon-pop:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
